.main {
	min-height: 80px;
	background-color: var(--second);
	height: 80px;
	position: absolute;
	bottom: 0;
	width: 100%;

	.container {
		width: 1000px;
		margin: 0 auto;
		display: flex;
		justify-content: center;
		align-items: center;
		height: inherit;
		gap: 30px;

		.github {
			font-size: 20px;
			color: grey;
			cursor: pointer;
			display: flex;
			align-items: center;
			gap: 10px;

			&:hover svg {
				color: white;
			}

			&:hover {
				color: white;
			}

			svg {
				font-size: 30px;
				color: grey;
				transition: all 0.2s;
			}
		}

		.api {
			padding: 10px 0;
			cursor: pointer;

			&:hover div {
				color: white;
			}

			div {
				font-size: 20px;
				color: grey;
			}
		}
	}
}
